{% extends 'base.html.twig' %}

{% block title %}Edit Editor{% endblock %}

{% block body %}
    <h1>Edit Editor</h1>

    {{ include('admin_editor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_editor_index') }}">back to list</a>

    {{ include('admin_editor/_delete_form.html.twig') }}
{% endblock %}
