{% extends 'base.html.twig' %}

{% block title %}New Editor{% endblock %}

{% block body %}
    <h1>Create new Editor</h1>

    {{ include('admin_editor/_form.html.twig') }}

    <a href="{{ path('app_admin_editor_index') }}">back to list</a>
{% endblock %}
