{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Homepage</h1>

<h2>Les 5 derniers articles parus</h2>

{% if articles %}
<ul>
    {% for article in articles %}
    <li>
        <a href="{{ path('app_front_article', {'id': article.id }) }}">{{ article.title }}</a>
        {% if article.writer %}
            (auteur : {{ article.writer.user.email }})
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
Il n'y a encore aucun article.
{% endif %}
{% endblock %}

{% block body_javascripts %}
<script>
console.log('hello front index!');
</script>
{% endblock %}